#navegacao {
    font-family: Arial;
}

#texto {
    font-size: small;
}

#content {
    font-family: Arial;
    font-size: large;
}

#lorem {
    font-family: Verdana;
}

#butao {
    font-family: Arial;
    border: 2px;
    border-color: black;
    border-radius: 7px;
    border-style: solid;
}

#imagem {
    margin: auto;
    border: 1px;
    border-color: black;
    border-style: solid;
    transition: 0.4s;
}

#imagem:active{
    width: 500px;
}

#navegacao {
    padding-bottom: 70px;
    border-bottom-style:solid ;
    border-bottom-color: blue;
    border-bottom-width: 1px;
  }

  #h2 {
    margin-top: 20px;
    margin-bottom: 90px;
  }

  #h3 {
    margin-top: 50px;
  }

  #botao {
    border-radius: 10px;
    border: 1px;
    border-style: solid;
    border-color: white;
    background-color: white;
  }

  #botao:hover {
    border-radius: 10px;
    border: 1px;
    border-style: solid;
    border-color: rgb(0, 10, 143);
    background-color:rgb(0, 10, 143);
  }

  #li:hover {
    border-radius: 10px;
    border: 1px;
    border-style: solid;
    border-color: rgb(0, 10, 143);
    background-color: rgb(0, 10, 143);
  }

  #butao {
    border: blue;
  }

  footer {
    margin-top: 200px;
    margin-bottom: 30px;
    border-top-color: black;
    border-top: 1px;
    border-top-style: solid;
  }

  #developed {
    font-size: x-large;
    font-family: Arial;
  }
