body {
    background-color: rgb(83, 83, 83);
    font: normal;
}

#link_digital {
    float: left;
}

#link_digital a {
    color: rgb(58, 57, 57);
    text-shadow: 2px 2px 3px rgb(20, 20, 20);
}

#link_digital a:hover {
    background-color: rgb(71, 70, 70);
    color: rgb(184, 201, 181);
    font-size: 34pt;
    text-shadow: rgb(10, 10, 10);
}

ul{
    list-style-type: none;
    margin: 0;
    padding: 0;

}

.topnav{
    font-family: monospace;
    background-color: rgb(34, 33, 33);
    overflow: hidden;
    width: 100%;
    border-radius: 25px;
    margin: auto;
}

.topnav a{
    text-shadow: 2px 2px 3px rgb(78, 78, 78);
    float: right;
    color: rgb(141, 140, 140);
    text-align: center;
    padding: 23px 20px;
    text-decoration: none;
    font-size: 30pt;
    transition: 0.4s;
}

.topnav a:hover{
    background-color: rgb(71, 70, 70);
    color:  rgb(184, 201, 181);
    font-size: 40pt;
    text-shadow: 2px 2px 3px rgb(10, 10, 10);
}

.insta {
    font-family: fantasy;
    font-size: 20pt;
    
}

.link_insta {
    text-decoration-line: none;
    color: rgb(22, 21, 21);
    text-shadow: 2px 2px 3px rgb(1, 206, 35);
    margin-left: 5px;
    transition: 0.3s;
}

.link_insta:hover {
    color: rgb(168, 168, 168);
    text-shadow: 2px 2px 2px rgb(197, 10, 10);
    text-decoration-line: underline;
}

.fone {
    font-family: cursive;
    font-size: 20pt;
}

h2 {
    font-family: monospace;
    color: rgb(163, 163, 163);   
    text-shadow:2px 2px 1px black;
    font-size: 20pt;
    width: max-content;
    transition: 0.3s;
}

h2:hover {
    color: white;
    text-shadow: 2px 2px 3px rgb(255, 0, 0);
    font-size: 25pt;
}

h1 {
    font-family: Arial;
    font-size: 40pt;
}   