body {
    background-color: rgb(83, 83, 83);
    font: normal;
}


ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#link_digital {
    float: left;
}

#link_digital a {
    color:  rgb(58, 57, 57);
    text-shadow: 2px 2px 3px  rgb(20, 20, 20);
}

#link_digital a:hover {
    background-color: rgb(71, 70, 70);
    color:  rgb(184, 201, 181);
    font-size: 34pt;
    text-shadow: 2px 2px 3px rgb(10, 10, 10);
}


.topnav{
    font-family: monospace;
    background-color: rgb(34, 33, 33);
    overflow: hidden;
    width: 100%;
    border-radius: 25px;
    margin: auto;
}

.topnav a{
    text-shadow: 2px 2px 3px rgb(78, 78, 78);
    float: right;
    color: rgb(141, 140, 140);
    text-align: center;
    padding: 23px 20px;
    text-decoration: none;
    font-size: 30pt;
    transition: 0.4s;
}

.topnav a:hover{
    background-color: rgb(71, 70, 70);
    color: rgb(184, 201, 181);
    font-size: 34pt;
    text-shadow: 2px 2px 3px rgb(10, 10, 10);
}

.perguntas {
    font-family: monospace;
    font-size: 40pt;
}

.respostas {
    font-family: fantasy;
    font-size: 20pt;
}

.imagem_higor {
    margin: auto;
    width: 160px;
    border: 3px;
    border-color: black;
    border-radius: 7px;
    border-style: solid;
}

.imagem_yago {
    width: 160px;
    border: 3px;
    border-color: black;
    border-radius: 7px;
    border-style: solid;
}

.botao_higor, .botao_yago {
    background-color: rgb(73, 71, 71);
    color: rgb(194, 189, 189);
    box-shadow: 1px 1px 2px black;
    transition: 0.3s;
}

.botao_higor:hover, .botao_yago:hover {
    background-color: rgb(179, 174, 174);
    color: rgb(66, 66, 66);
    box-shadow: 1px 1px 2px rgb(41, 40, 40);
}

.botao_higor:active, .botao_yago:active {
    background-color: rgb(184, 8, 8);
    color: rgb(231, 124, 124);
    box-shadow: 1px 1px 2px rgb(110, 4, 4);
}