body {
    background-color: rgb(83, 83, 83);
    font-family: Arial, Helvetica;
}

#link_digital {
    float: left;
}

#link_digital a {
    color: rgb(58, 57, 57);
    text-shadow: 2px 2px 3px rgb(20, 20, 20);
}

#link_digital a:hover {
    background-color: rgb(71, 70, 70);
    color: rgb(184, 201, 181);
    font-size: 34pt;
    text-shadow: rgb(10, 10, 10);
}

ul{
    list-style-type: none;
    margin: 0;
    padding: 0;

}

.topnav{
    font-family: monospace;
    background-color: rgb(34, 33, 33);
    box-shadow: 6px 7px 3px rgb(14, 14, 14);
    overflow: hidden;
    width: 100%;
    border-radius: 25px;
    margin: auto;
}

.topnav a{
    text-shadow: 2px 2px 3px rgb(5, 5, 5);
    float: right;
    color: rgb(141, 140, 140);
    text-align: center;
    padding: 23px 20px;
    text-decoration: none;
    font-size: 30pt;
    transition: 0.4s;
}

.topnav a:hover{
    background-color: rgb(71, 70, 70);
    color:  rgb(184, 201, 181);
    font-size: 40pt;
    text-shadow: 2px 2px 3px rgb(10, 10, 10);
}


h1 {
    color: rgb(0, 0, 0);
    font-family: monospace;
    font-size: 60pt;
    text-align: center;
}

footer {
    margin-top: 300px;
    width: 100%;
    border-top: 1px;
    border-top-color: black;
    border-top-style: solid;
}

.rodape {
    font-family: cursive;
    font-size: 20pt;
    text-align: center;
    margin: 30px;
    margin-bottom: 30px;
}