body{
    background-color: rgb(177, 174, 174);
    font: normal Arial 20pt;
}

ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.topnav{
    font-family: monospace;
    background-color: rgb(97, 93, 93);
    overflow: hidden;
    width: 100%;
    border-radius: 50px;
    display: block;
    float: right;
}

.topnav a{
    text-shadow: 2px 2px 3px rgb(116, 113, 113);
    float: right;
    color: rgb(12, 14, 11);
    text-align: center;
    padding: 23px 20px;
    text-decoration: none;
    font-size: 30pt;
    transition: 0.4s;
}

.topnav a:hover{
    background-color: rgb(71, 70, 70);
    color:  rgb(184, 201, 181);
    font-size: 40pt;
    text-shadow: 2px 2px 3px rgb(10, 10, 10);
}

.lojas_higor {
    color: black;
    font-family: monospace;
    font-size: 70pt;
    text-align: center;
    margin: auto;
    margin-top: 100px;
    width: max-content;
    transition: 0.4s;
} 

.lojas_higor:hover {
    font-size: 60pt;
}

.conteudo {
    font-family: Arial;
    font-size: 20pt;
    margin-left: 100px;
    margin-right: 100px;
}

h2{
    color: rgb(118, 119, 117);
    font-size: 30pt;
    font-family: fantasy;
    transition: 0.5s;
    text-align: center;
    width: max-content;
    margin-left: 1%;
    margin-bottom: 1px;
}

h2:hover {
    color:  rgb(23, 23, 24);
    font-size: 35pt;
}

h3 {
    color:  rgb(118, 119, 117);
    font-family: cursive;
    font-size: 20pt;
    margin-left: 1%;
    margin-top: 1opx;
    width: max-content;
    transition: 0.5s;
}

h3:hover{
    color: rgb(23, 23, 24);
    font-size: 25pt;
}

#section_conteudo {
    background-color: lavender;
    width: 70%;
    margin: auto;
    border-radius: 14px;
    padding-top: 10px;
}

.botao {
    color: rgb(173, 171, 171);
    font-family: monospace;
    font-size: 17px;
    text-align: center;
    background-color: rgb(26, 25, 25);
    border-radius: 7px;
    box-shadow: 2px 2px 3px black;
    margin-bottom: 50px;
    margin-top: 30px;
    margin-left: 100px;
    width: 90px;
    height: 30px;
    transition: 0.5s;
}


.botao:hover{
    font-size: 20px;
    width: 100px;
    height: 40px;
}

.rodape {
    margin-top: 300px;
}

.produto {
    text-align: center;
    margin-left: 100px;
    margin-bottom: 40px;
    width: 250px;
    border: 3px;
    border-radius: 7px;
    border-color: rgb(92, 92, 92);
    border-style: solid;
    transition: 0.5s;
}

.produto:hover {
    width: 500px;
}

.descricao {
    color: rgb(97, 95, 95);
    font-size: 20px;
    font-family: fantasy;
    margin-left: 100px;
    text-decoration-line: none;
    transition: 0.4s;
}

.descricao:hover {
    color: rgb(31, 30, 30);
    font-size: 30px;
}